h1, h3, h4, a, .section-title, .contact, .address, .dates {
  font-family: Montserrat;
}

h3 {
  font-size: 12pt;
  margin: 0;
}

a, .contact, .address {
  font-size: 10pt;
}

.address {
  float: right;
}

p {
  margin: 7px 0;
}


h1 {
  font-size: 24pt;
  margin-bottom: 1px;
}

h1 small {
  font-size: 14pt;
  color: #666;
}

h2 {
  font-size: 12pt;
}

h2 small {
  font-size: 8pt;
  text-transform: none;
  font-family: Arial;
  font-weight: normal;
}

h4 {
  margin-bottom: 5px;
}

p.dates {
  margin: 1px 0;
  font-size: 10pt;
}

h4 {
  font-size: 10pt;
}

.section-title {
  text-transform: uppercase;
}

.section-title, .email-address, .dates {
  color: #666;
}
